/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/



$color-1: #fff;
$color-2: #fe4131;
$color-3: #ff6148;
$color-4: #fe2e1d;
$color-5: #000000;
$color-6: rgba(0,0,0, 0.57);
$color-7: #ddfa38;