.hero {
  width: 100%;
  height: calc(100vh - 80px);
  background-repeat:no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  @include main-font2;
  color: $color-1;
  min-height: 568px;

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include siteWidth;
    background-color: $color-6;
    height: 202px;
    z-index: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h3 {
      letter-spacing: -.7px;
      line-height: 8vw;
      font-size: 6vw;
      text-align: center;
      font-weight: 100;

      small {
        display: block;
        font-size: 4vw;
        line-height: 10vw;
        @include main-font1;
        word-spacing: 4px;
        letter-spacing: -0.2px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 9vw;
    line-height: 14vw;
    text-align: center;
    padding-top: 5%;
    font-weight: 100;
    letter-spacing: -1.6px;
  }

}

@media (min-width: $phone-landscape) {
  .hero {

    h2{
      font-size: 50px;
      line-height: 68px;
    }

    &__bottom {

      h3 {
        line-height: 37px;
        font-size: 28px;

        small {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
@media (min-width: $tablet-landscape) {
  .hero {
    height: calc(891px - 117px);
    background-position: 50% -53px;
    transition: background-position .02s linear;
   // background-attachment: fixed;

    h2{
      font-size: 64px;
      line-height: 78px;
    }

    &__bottom {
      flex-flow: row;

      h3 {
        line-height: 48px;
        font-size: 32px;
        padding-right: 78px;

        small {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
@media (min-width: $desktop) {
  .hero {
    &__bottom {

      .btn {
        position: absolute;
        right: calc(50% - 570px);
        margin-top: 0;
      }
    }
  }
}