%menu-btn {
  position: absolute;
  height: 4px;
  width: 100%;
  background: $color-2;
  border-radius: 10px;
  opacity: 1;
  transform: rotate(0deg);
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-1;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform .05s linear, opacity .15s linear;
  opacity: 0;

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    a {
      line-height: 49px;
      @include main-font1();
      font-size: 14px;
      text-align: center;
      color: $color-5;
      text-transform: uppercase;


      &.btn {
        color: $color-1;
        @include main-font3;
        font-size: 16px;
        letter-spacing: -1px;
        margin-top: 12px;
      }
    }
  }

  &__btn {
    display: block;
    width: 25px;
    height: 16px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 4;
    span {
      @extend %menu-btn;
      top: 0;
      transition: .25s ease-in-out;

      &:before {
        top: 6px;
        content: '';
        @extend %menu-btn;
        transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out,margin 0.5s ease-in-out,background 0.5s cubic-bezier(0.57, 1.42, 0, 4.05);
      }

      &:after {
        top: 12px;
        content: '';
        @extend %menu-btn;
        transition: .25s ease-in-out;
      }
    }
    &:hover {
      span,
      span:after,
      span:before {
        background: $color-3;
      }
    }
  }

  &.mobile {
    transform: translateX(0);
    opacity: 1;

    & + .menu__btn {
      position: fixed;
      top: 30px;
      right: 20px;
      z-index: 110;

      span {
        top: $btn-nav-top;
        transform: rotate(135deg);

        &:before {
          opacity: 0;
          left: 6px;
          height: 15px;
          width: 15px;
          margin: 40px;
          background: $color-7;
          transform: rotate(-135deg);
         // transition: transform .5s ease-in-out, opacity.5s ease-in-out, margin .5s ease-in-out, background .5s cubic-bezier(0.43, 0.35, 0.29, 1.58);
        }
        &:after {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }
}

@media (min-width: $tablet-landscape) {
  .menu {
    position: static;
    transform: translateX(0);
    opacity: 1;

    &__btn {
      display: none;

    }

    ul {
      flex-flow: row wrap;

      a {
        margin-left: 31px;

        &.btn {
          margin-top: 0;
        }
      }
    }
  }
}