.site {
  @include justify;
  background-color: $color-1;

  header {
    position: relative;
    padding-top: 80px;
    transition: padding .2s linear;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

    header {
      padding-top: 117px;
    }
  }
}
@media (min-width: $desktop) {
  .site {

  }
}

